<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit post</title>
  </head>

  <body>
    <h2>Original Post <%=Number(postId) +1%>:</h2>
    <%= originalPost %>

    <h2>Edit Post:</h2>

    <form action="/editPost" method="POST">
      <input
        type="text"
        name="editedPost"
        value="<%=originalPost  %>"
        id="editedPost"
      />
      <input type="hidden" name="postId" value="<%= postId%>" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
